button {
  display: block;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  background-color: #007bff;
  padding: 10px 15px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(30, 60, 90, 0.2);
  transition: all 0.3s;
  border: none;
}

button:not(:disabled):not(.disabled) {
  cursor: pointer;
}

button:hover:not(:disabled):not(.disabled) {
  background-color: #286090;
  box-shadow: 0 6px 8px 0 #666666;
}

button:active:not(:disabled):not(.disabled) {
  background-color: #286090;
  transform: translateY(2px);
}

button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
