<!-- routerLink = é uma diretiva que direciona para a página solicitada, caminho que foi configurado no roteamento -->
<nav>
  <div>
    <!-- Pode usar dessa forma abaixo o routerLink -->
    <!-- <a [routerLink]="['/']">Forms</a> -->
    <a routerLink="/">Forms</a>
    <!-- diretiva routerLinkActive aplica uma classe Css active quando a rota estiver ativa  -->
    <a [routerLink]="['/cursos']" routerLinkActive="active" [queryParams]="{page:1}"
      style="margin-left: 15px">Cursos</a>
    <a [routerLink]="['/cursos/alunos']" routerLinkActive="active" style="margin-left: 15px">Alunos</a>
    <a [routerLink]="['/key-value']" routerLinkActive="active" style="margin-left: 15px">Key Value</a>
    <a [routerLink]="['/unsubscribe-rxjs']" routerLinkActive="active" style="margin-left: 15px">Unsubscribe Rxjs</a>
  </div>
  <div>
    <ul>
      <li routerLinkActive="active">
        <a [routerLink]="['/template-form']">Form - Template Driven</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/data-form']">Form - Data Driven</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/data-form-full']">Form - Data Driven Full</a>
      </li>
    </ul>
  </div>
</nav>
