<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  <section class="flex-row">
    <div class="flex-col marginRight-15">
      <label for="nome" [class.control-label]="!nome.valid && nome.touched"
        >Nome</label
      >
      <input
        type="text"
        id="nome"
        placeholder="Nome"
        name="nome"
        [(ngModel)]="usuario.nome"
        required
        #nome="ngModel"
        [ngClass]="aplicaCssErro(nome)"
      />
      <app-campo-control-erro
        [mostrarErro]="verificaValidTouched(nome)"
        msgErro="Nome é obrigatório."
      ></app-campo-control-erro>
    </div>

    <div class="flex-col">
      <label for="email" [class.control-label]="!email.valid && email.touched"
        >E-mail</label
      >

      <input
        type="email"
        id="email"
        placeholder="nome@email.com"
        name="email"
        ngModel
        [(ngModel)]="usuario.email"
        required
        email
        #email="ngModel"
        [ngClass]="aplicaCssErro(email)"
      />
      <app-campo-control-erro
        [mostrarErro]="verificaValidTouched(email)"
        msgErro="E-mail é obrigatório."
      ></app-campo-control-erro>
    </div>
  </section>

  <section class="flex-col" ngModelGroup="endereco">
    <div class="flex-row">
      <div class="flex-col marginRight-15">
        <label for="cep" [class.control-label]="!cep.valid && cep.touched"
          >CEP</label
        >
        <input
          type="text"
          id="cep"
          placeholder="CEP"
          name="cep"
          ngModel
          [(ngModel)]="usuario.cep"
          required
          cep
          #cep="ngModel"
          [ngClass]="aplicaCssErro(cep)"
          (blur)="consultaCEP($event.target.value, f)"
        />

        <app-campo-control-erro
          [mostrarErro]="verificaValidTouched(cep)"
          msgErro="CEP é obrigatório."
        ></app-campo-control-erro>
      </div>
      <div class="flex-col marginRight-15">
        <label
          for="numero"
          [class.control-label]="!numero.valid && numero.touched"
          >Número</label
        >
        <input
          type="text"
          id="numero"
          placeholder="Número"
          name="numero"
          ngModel
          [(ngModel)]="usuario.numero"
          required
          numero
          #numero="ngModel"
          [ngClass]="aplicaCssErro(numero)"
        />
        <app-campo-control-erro
          [mostrarErro]="verificaValidTouched(numero)"
          msgErro="Número é obrigatório."
        ></app-campo-control-erro>
      </div>
      <div class="flex-col">
        <label for="complemento">Complemento</label>
        <input
          type="text"
          id="complemento"
          placeholder="Complemento"
          name="complemento"
          ngModel
          [(ngModel)]="usuario.complemento"
          complemento
          #complemento="ngModel"
        />
      </div>
    </div>

    <div class="flex-row">
      <div class="flex-col">
        <label for="rua" [class.control-label]="!rua.valid && rua.touched"
          >Rua</label
        >
        <input
          type="text"
          id="rua"
          placeholder="rua"
          name="rua"
          ngModel
          [(ngModel)]="usuario.rua"
          required
          rua
          #rua="ngModel"
          [ngClass]="aplicaCssErro(rua)"
        />
        <app-campo-control-erro
          [mostrarErro]="verificaValidTouched(rua)"
          msgErro="Rua é obrigatório."
        ></app-campo-control-erro>
      </div>
    </div>

    <div class="flex-row" ngModelGroup="localizacao">
      <div class="flex-col marginRight-15">
        <label
          for="bairro"
          [class.control-label]="!bairro.valid && bairro.touched"
          >Bairro</label
        >
        <input
          type="text"
          id="bairro"
          placeholder="bairro"
          name="bairro"
          ngModel
          [(ngModel)]="usuario.bairro"
          required
          bairro
          #bairro="ngModel"
          [ngClass]="aplicaCssErro(bairro)"
        />
        <app-campo-control-erro
          [mostrarErro]="verificaValidTouched(bairro)"
          msgErro="Bairro é obrigatório."
        ></app-campo-control-erro>
      </div>
      <div class="flex-col marginRight-15">
        <label
          for="cidade"
          [class.control-label]="!cidade.valid && cidade.touched"
          >Cidade</label
        >
        <input
          type="text"
          id="cidade"
          placeholder="cidade"
          name="cidade"
          ngModel
          [(ngModel)]="usuario.cidade"
          required
          cidade
          #cidade="ngModel"
          [ngClass]="aplicaCssErro(cidade)"
        />

        <app-campo-control-erro
          [mostrarErro]="verificaValidTouched(cidade)"
          msgErro="Cidade é obrigatório."
        ></app-campo-control-erro>
      </div>
      <div class="flex-col">
        <label for="estado" [class.control-label]="verificaValidTouched(estado)"
          >Estado</label
        >
        <input
          type="text"
          id="estado"
          placeholder="estado"
          name="estado"
          ngModel
          [(ngModel)]="usuario.estado"
          required
          estado
          #estado="ngModel"
          [ngClass]="aplicaCssErro(estado)"
        />
        <app-campo-control-erro
          [mostrarErro]="verificaValidTouched(estado)"
          msgErro="Estado é obrigatório."
        ></app-campo-control-erro>
      </div>
    </div>
  </section>

  <app-button [idisabled]="!f.valid" name="Enviar">Enviar</app-button>

  <app-debug-form [form]="f"></app-debug-form>
</form>
