<form [formGroup]="form">
  <div>
    <label for="name">Nome do Curso</label>
    <input
      type="text"
      id="name"
      placeholder="Nome do Curso"
      formControlName="name"
    />
  </div>
  <div *ngIf="hasErrorfield('name') && hasErrorfield('name')['required']">
    Por favor informe um nome para o curso.
  </div>
  <div *ngIf="hasErrorfield('name') && hasErrorfield('name')['minlength']">
    Nome precisa ter no mínimo
    {{ hasErrorfield("name")["minlength"].requiredLength }} caracteres.
  </div>
  <div *ngIf="hasErrorfield('name') && hasErrorfield('name')['maxlength']">
    Nome precisa ter no máximo
    {{ hasErrorfield("name")["maxlength"].requiredLength }} caracteres.
  </div>
  <div>
    <!-- [disabled]="hasError()" -->
    <button type="submit" (click)="onSubmit()">Salvar</button>
    {{ " " }}
    <button type="button" (click)="onCancel()">Cancelar</button>
  </div>
</form>
