<h2>HTML Table</h2>
<button [routerLink]="['novo']">Novo Curso</button>
{{ " " }}
<button (click)="onRefresh()">Atualizar</button>

<div *ngIf="cursos$ | async as cursos; else loadingError">
  <table>
    <tr>
      <th>#</th>
      <th>Cruso</th>
      <th></th>
    </tr>
    <tr *ngFor="let curso of cursos">
      <td>{{ curso.id }}</td>
      <td>{{ curso.name }}</td>
      <td>
        <button (click)="onEdit(curso.id)">Atualizar</button>
        {{ " " }}
        <button (click)="onDelete(curso)">Remover</button>
      </td>
    </tr>
  </table>
  <p>Página: {{ page }}</p>
  <button (click)="nextPage()">Próxima página</button>
</div>

<ng-template #loadingError>
  <div>
    <div *ngIf="error$ | async; else loading">
      Error ao carregar cursos. Tente novamente mais tarde.
    </div>
    <ng-template #loading>
      <span>Carregando Cursos...</span>
      <span>Execute o comando abaixo:</span>
      <p>json-server --watch src/assets/dados/db.json</p>
    </ng-template>
  </div>
</ng-template>
